{% extends "myadmin/base.html" %}

{% block mainbody %}
					
<h3>
	商品信息管理
</h3>
<form id="edit-profile" class="form-horizontal" action="{% url 'goodsupdate' %}" method="post" enctype="multipart/form-data" >
	{% csrf_token %}
	<fieldset>
		<legend>信息修改</legend>
		<input type="hidden" name='ggid' value="{{ goods.id }}">
		<input type="hidden" name="oldpicname" value="{{ goods.picname }}"/>

		<div class="control-group">
			<label class="control-label" for="input01">typeid</label>
			<div class="controls">
				<select name="typeid" id="">
					
					{% for i in typelist %}
						<option 
							{% if i.pid == 0 %}
									disabled
							{% endif %}
							{% if i.id == goods.typeid %}
								   selected
							{% endif %} 
							value="{{ i.id }}"> {{ i.name }}
						</option>
					{% endfor %}
				</select>
			</div>
		</div>

		
		<div class="control-group">
			<label class="control-label" for="input01">商品名称:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="input01" name="goods" value="{{ goods.goods }}" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="input01">价格:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="input01" name="price" value="{{ goods.price }}" />
			</div>
		</div>


		<div class="control-group">
			<label class="control-label" for="input01">商品图片:</label>
			<div class="controls">
					<input type="file" class="input-xlarge" id="input01" name="picname" value="{{ goods.picname }}" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="input01">公司:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="input01" name="company" value="{{ goods.company }}" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="input01">状态:</label>
			<div class="controls">
                    <input type="radio" name="state" class="input-xlarge" id="input01" 
                    {% if goods.state == 1 %}
                        checked  
                    {% endif %}
                    value="1" /> 新商品 
                    <input type="radio" name="state" class="input-xlarge" id="input01" 
                    {% if goods.state == 2 %}
                        checked  
                    {% endif %}
                    value="2" /> 在售
                    <input type="radio" name="state" class="input-xlarge" id="input01" 
                    {% if goods.state == 3 %}
                        checked  
                    {% endif %}
                    value="3" /> 已下架
                </div>
		</div>

		<div class="control-group">
			<label class="control-label" for="input01">库存:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="input01" name="store" value="{{ goods.store }}" />
			</div>
		</div>


		<div class="control-group">
			<label class="control-label" for="input01">添加时间:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="input01" name="addtime" value="{{ goods.addtime }}" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="input01">描述:</label>
			<div class="controls">
				<textarea cols="40" style="width:450px" rows="10" name="desc"  value="{{ goods.desc }} "></textarea>
			</div>
		</div>
							
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">添加</button> <button class="btn">重置</button>
		</div>
	</fieldset>
</form>

{% endblock %}