{% extends "shop/base.html" %}
{% load static from staticfiles %}


{%block title%}
<title>mi•详情</title>
{%endblock%}

{%block css%}
<link rel="stylesheet" href="{% static 'myweb/public/css/content.css' %}">

{%endblock%}

{%block contend%}
<hr>

	<!-- 当前页选择区 -->
	<div class="container head0">
		<div class="row col-md-12">
			<div class="col-md-6 col-md-12">
				<a href="{% url 'show' types1.id %}" class="head"><span class="head1">{{ types1.name}}</span>&nbsp;|&nbsp;<span>{{ goods.goods }}</span></a>
			</div>
			
			<div class="col-md-3 col-md-offset-3 hidden-xs">
				<span><a href="">概述</a></span>
				<span><a href="">F码通道</a></span>
				<span><a href="">用户评价</a></span>
				&nbsp;&nbsp;
				<button>立即购买</button>
			</div>	
		</div>
	</div>
	<!-- end当前页选择区 -->
 	<hr>

	<!-- 商品下单区 -->
	<div class="container">
		<div class="row col-md-12">
			<div class="row col-md-5" >
		         <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					    <ol class="carousel-indicators">
					      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					      <li data-target="#carousel-example-generic" data-slide-to="1" class="active1"></li>
					      <li data-target="#carousel-example-generic" data-slide-to="2" class="active2"></li>
					    </ol>

		             <div class="carousel-inner">
		  
			             <div class="item active">
			                 <img src="{% static 'goods/' %}{{ goods.picname}}" alt="..."  class="img-responsive">
				         </div>

			             <div class="item active1">
			                  <img src="{% static 'goods/' %}{{ goods.picname}}" alt="..." class="img-responsive">
			             </div>

			             <div class="item active2">
			                  <img src="{% static 'goods/' %}{{ goods.picname}}" alt="..." class="img-responsive">
			             </div>

		             </div>
		 
				     <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				          <span class="glyphicon glyphicon-chevron-left"></span>
				     </a>
				     <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				          <span class="glyphicon glyphicon-chevron-right"></span>
				     </a>
		          </div>
			 </div>
			<div class="row col-md-7 buy"> 
		
				<h2>{{ goods.goods }}</h2>
				 
				<p><i>{{ goods.price }}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>【付款后预计20天内发货】</b></p>
				
				<div class="buy1">
					<span class="glyphicon glyphicon-map-marker"></span>
					<span>北京&nbsp;北京市&nbsp;东城区&nbsp;永定门外街道</span>
					&nbsp;&nbsp;&nbsp;<a href="">修改</a>	
				</div>
				
				<hr>
				<div class="buy2">
					<b>商品描述</b>&nbsp;&nbsp;&nbsp;
					<a href="">{{ goods.desc }}</a>&nbsp;&nbsp;&nbsp;
					<span>{{ goods.price }}</span>
				</div>
				
				<div class="buy2">
					<b>库存</b>&nbsp;&nbsp;&nbsp;
					<a href="">{{ goods.store }}</a>
				</div>
				
				<h3>总计{{ goods.price }}</h3>
				<p><button>设置开售提醒</button><button><a href="{%url 'contentbuy' goods.id %}">加入购物车</a></button></p>
				<p>{{ info }}</p>

			</form>
			</div>
		
		</div>
	</div>
	<!--end 商品下单区 -->
	<br>
	<hr>
	<br>
	<h3>商品推荐</h3>
	<br>
	<!-- 商品展示区1 -->
 	<div class="jumbotron">
 	  <h1>千元新旗舰 </h1>
 	  <p>小米电视4A 32英寸</p>
 	  <p>64位四核处理器 | 1GB+4GB大内存</p>
 	  <img src="{% static 'myweb/images/88.png' %}" alt="">
 	  <h6>*该电视含开关机等形式的广告，开关机时的广告视频不能删除、更改，且第三方内容的广告视频无法控制</h6>
 	  <p></p>
 	  <p></p>
 	</div>
	<!-- end商品展示区1 -->

	

		<!-- 商品展示区2 -->
	<div class="jumbotron show2">
	 	<h1>好看的不计其数  </h1>
	 	<h1>高分的数不胜数</h1>
	 	<br>
	 	<p>每个家庭成员，都可以找到想看的</p>
	 	
	 	<img src="{% static 'myweb/images/104.png' %}" alt="" >
	 
	 	
	 	<h3>看什么都身临其境</h3>
	 	<p></p>
	 	<p></p>
	</div>
		<!-- end商品展示区2 -->
	

	<hr>

{%endblock%}    


{%block js%}
<script type="text/javascript" src="{% static 'myweb/public/js/content.js' %}"></script>
{%endblock%}	
		

	

	
	 

