{% extends "shop/base.html" %}
{% load static from staticfiles %}

{%block title%}
<title>mi•展示</title>
{%endblock%}

 {%block css%}
<link rel="stylesheet" href="{% static 'myweb/public/css/show.css' %}">
 {%endblock%}   
    
{%block contend%}
<br>
	<!-- 当前页显示文字 -->
	<div class="container">
		<div class="row col-md-2 col-xs-6">
			<a href="{% url 'myweb_index' %}" style="color:black" target="_blank"><span>首页</span></a>/
			<a href="{% url 'show' %}" style="color:black" target="_blank"><span>全部</span></a>
			
			
		</div>	
	</div>
	<hr style="color:orange">
	<!-- end当前页显示文字 -->

	<!-- 当前页选择区 -->
	<div class="container head0">
		<div class="row col-md-12">
			
			{% for tt in typelist %}
			<div class="col-md-1 col-xs-4">
				<a href="{% url 'show' tt.id %}" >
				<h4>{{ tt.name }}</h4></a>
			</div>
			{% endfor %}

		

			<div class="col-md-1 col-xs-4">
				<a href="" style="color:orange"><h5>更多&gt;&gt;</h5></a>
			</div>

			
				
		</div>
	</div>
	<br>

	<div class="container head0">
		<div class="row col-md-12">
			
			{% for t in types %}
			<div class="col-md-1 col-xs-4">
				<a href="{% url 'show' t.id %}"  style="color:black">
				<h5>{{ t.name }}</h5></a>
			</div>
			{% endfor %}

			{% for t1 in types1 %}
			<div class="col-md-1 col-xs-4">
				<a href="{% url 'show' t1.id %}"  style="color:black">
				<h5>{{ t1.name }}</h5></a>
			</div>
			{% endfor %}
			
				
		</div>
	</div>



			

	<!-- end当前页选择区 -->

 	<hr>

	<!-- 商品展示1区 -->

	
	<div class="container">
		<div class="row col-md-12">
		{% for goods in goodslist %}
		  <div class="col-sm-12 col-md-3 show">
		    <div class="thumbnail">
		      <img class="imgs" data-src="holder.js/300x200" src="{% static 'goods/m_' %}{{ goods.picname}}" alt="..."style="height:250px">
		      <div class="caption">
		        <h3>{{ goods.goods}}</h3>
		        <p>{{ goods.price}}</p>
		        <a href="#" class="btn btn-primary" role="button">购买</a> <a href="{% url 'content'  goods.id %}" target="_blank" class="btn btn-default" role="button">详情</a>
		      </div>
		    </div>
		  </div>
		  {% endfor %}

		</div>
	</div>

	<!-- end商品展示1区 -->



	<!-- 风采展示区 -->
	<div class="container">
		<div class="row col-md-12">
			<div class="last hidden-xs hidden-sm">

				<div class="last3">
					<img img2 src="{% static 'myweb/images/70.jpg' %}" alt="">
				</div>
				<div class="last1">
					<dl>
						<dt>小米之家及官方授权维修网点</dt>
						<dd>欢迎来小米之家解决你遇到的问题，了解最新的小米官方产品最全面的产品信息，还有很多好玩的活动等你来访。</dd>
						<dd>你还可以前往小米授权维修网点解决售后问题，520家网点让服务随时在身边。</dd>

					</dl>
				</div>
				<div class="last2">
					<div><a href="">小米之家</a></div>
					<div><a href="">官方维修网点</a></div>
				</div>
			</div>
		</div>
	</div>	
	
	<!-- end风采展示区 -->


	<hr>
{%endblock%}

{%block js%}
<script type="text/javascript" src="{% static 'myweb/public/js/show.js' %}"></script>
{%endblock%}	





	
		
