{% extends "myadmin/base.html" %}

{% block mainbody %}
					
<h3>
	订单信息
</h3>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				id
			</th>
			
			<th>
				uid
			</th>
			<th>
				linkman
			</th>
			<th>
				phone
			</th>
			<th>
				address
			</th>
			
			<th>
				addtime
			</th>
			<th>
				status
			</th>
			<th colspan=2 style='text-align:center'>
				操作
			</th>
			
		</tr>
	</thead>
	<tbody>
	{% for i in orders %}
	<tr>
		<td>{{ i.id }}</td>
		<td>{{ i.pname  }}</td>
		<td>{{ i.linkman }}</td>
		<td>{{ i.phone }}</td>
		<td>{{ i.adress }}</td>
		<td>{{ i.addtime }}</td>
		
		<td>
			{% if i.status == 0 %}
              新添加
        	{% elif i.status == 1 %}
              已发货
        	{% elif i.status == 2 %}
              已收货
            {% elif i.status == 3 %}
              无效订单
        	{% endif %}
		</td>


	
		<td><a href="{% url 'detail1' i.id %}">查看详情</a></td>
		<td><a href="{% url 'ordersedit' i.id %}">编辑</a></td>
	</tr>
	{% endfor %}
		
	</tbody>

</table>				
<div class="pagination">
		<ul class="pagination">
            {%for pindex in plist%}
                <li><a href={% url 'ordersindex' pindex %}>{{pindex}}</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            {% endfor %}
        </ul>
</div>



	
{% endblock %}